<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default summary">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <form class="form-inline" role="form">
            <div class="form-group">
              <div class="dropdown" is-open="open">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{ 'SUMMARY.GROUP_BY' | translate }}<span class="group-name">{{selectedGroup}}</span> <span class="caret"></span></button>
                <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                <ul class="dropdown-menu dropdown-inverse">
                  <li ng-repeat="groupItem in groupBy | filter:'!'+selectedGroup"><a ng-click="selectGroup(groupItem)" href>{{ 'SUMMARY.GROUP_BY' | translate }}<span class="group-name">{{groupItem}}</span></a></li>
                  </u>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" ng-attr-placeholder="{{ 'SUMMARY.SEARCH_FOR' | translate }}" />
                <span class="flip input-icon fui-search"></span>
              </div>
            </form>
          </div>
          <!-- Table -->
          <table class="table">
            <thead>
              <tr>
                <th><a href>{{ 'SUMMARY.NAME' | translate }} <span class="caret"></span></a></th>
                <th colspan="3"><a href>{{ 'SUMMARY.STATUS' | translate }}</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>צפון</td>
                <td><span class="label label-success">בזמן</span></td>
                <td class="link"><a ng-attr-title="{{ 'SUMMARY.LOCATION' | translate }}" href><span class="fui-location"></span></a></td>
                <td class="link"><a ui-sref=".schedule" ng-attr-title="{{ 'SUMMARY.INFORMATION' | translate }}" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>חיפה</td>
                <td><span class="label label-warning">עיכובים</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>כרמל</td>
                <td><span class="label label-danger">עיכובים גדולים</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>שרון</td>
                <td><span class="label label-success">בזמן</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>גוש דן</td>
                <td><span class="label label-success">בזמן</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>השפלה</td>
                <td><span class="label label-success">בזמן</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>ירושלים</td>
                <td><span class="label label-success">בזמן</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>דרום</td>
                <td><span class="label label-success">בזמן</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-7">
        <div ui-view></div>
      </div>
    </div>
  </div>