<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default summary">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <form class="form-inline" role="form">
            <div class="form-group">
              <div class="dropdown" is-open="open">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Group by {{selectedGroup}}<span class="caret"></span></button>
                <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                <ul class="dropdown-menu dropdown-inverse">
                  <li ng-repeat="groupItem in groupBy | filter:'!'+selectedGroup"><a ng-click="selectGroup(groupItem)" href>Group by {{groupItem}}</a></li>
                  </u>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search for" />
                <span class="input-icon fui-search"></span>
              </div>
            </form>
          </div>
          <!-- Table -->
          <table class="table">
            <thead>
              <tr>
                <th><a href>Name <span class="caret"></span></a></th>
                <th colspan="3"><a href>Status</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>North</td>
                <td><span class="label label-success">On Time</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>Haifa</td>
                <td><span class="label label-warning">Small Delays</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>Carmel</td>
                <td><span class="label label-danger">Delays</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>Sharon</td>
                <td><span class="label label-success">On Time</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>Gush Dan</td>
                <td><span class="label label-success">On Time</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>Hashfela</td>
                <td><span class="label label-success">On Time</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>Jerusalem</td>
                <td><span class="label label-success">On Time</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
              <tr>
                <td>South</td>
                <td><span class="label label-success">On Time</span></td>
                <td class="link"><a title="Location" href><span class="fui-location"></span></a></td>
                <td class="link"><a title="Information" href><span class="fui-eye"></span></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-8">
        <div ui-view></div>
      </div>
    </div>
  </div>